{% extends "base.html" %} {% block title %}Active Meters{% endblock %} {% block content
%}
<h1 align="center">Active Meters</h1>
<a class="btn btn-success" id="showData" href="/show_meters">Refresh Data</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add a Meter
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Meter</h5>
      </div>
      <div class="modal-body">
        <form action="/addMeter" method="post">
          <div class="mb-3">
            <label  class="form-label">Meter ID</label>
            <input type="text" class="form-control" id="meterID" name="meterID" value="2" >
          </div>
          <div class="mb-3">
            <label  class="form-label">Drop Rate</label>
            <input type="text" class="form-control" id="dropRate" name="dropRate" value="100">
          </div>
          <div class="mb-3">
            <label  class="form-label">Drop Burst Size</label>
            <input type="text" class="form-control" id="dropBSize" name="dropBSize" value="0">
          </div>
          <div class="mb-3 ">
            <label>Select Switch to Add Meter</label>
            <select name="switch" id="switch" class="form-select">
              {%if switchCount%}
                {% for sNum in range (switchCount) %}
                <option value = "{{sNum + 1}}"> OpenFlow Switch {{sNum + 1}}</option>
                {% endfor%}
              {%endif%}
              <option value="0">All Switches</option>
            </select>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <input type="submit" value="Add Meter" class="btn-success btn">
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
{%if meterData%}

<div class="card mt-3">
  <div class="card-body">
    <table id="meterT" class="table table-striped table-reponsive"></table>
  </div>
</div>
{%endif%}
<script>

  const dataSet1 = JSON.parse('{{ meterData | tojson }}');
    $(document).ready(function() {
      // Delete a record
      $('#meterT').on('click', 'td.editor-delete', function () {
        var result = confirm("Want to delete?");
        if (result) {
        var table = $('#meterT').DataTable();
        array=table.row( this ).data()
        var formData = new FormData()
        formData.append("switch",array[0]);
        formData.append("meterID",array[1]);
        formData.append("dropRate",array[2]);
        formData.append("dropBSize",array[3]);
        console.log(array[5])
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/removeMeter");
        xhr.send(formData);
        xhr.onreadystatechange = (e) => {
          const obj = JSON.parse(xhr.responseText);
          if (obj['cat']=='success'){
            swal({  
              title: " Nice !!",  
              text: obj['msg'],  
              type: 'success',  
            });  
          }
          else{
            swal({  
              title: " Ooops !!",  
              text: obj['msg'],  
              type: "error",  
            });
          }
  }
      } 
    });
      $('#meterT').DataTable({
        data: dataSet1,
          columns: [
            { title: "Switch" },
            { title: "Meter ID" },
            { title: "Drop Rate" },
            { title: "Drop Burst Size" },
            { title: "Flow Count" },
            {
                  data: null,
                  className: "dt-center editor-delete",
                  defaultContent: '<i class="fa fa-trash"/>',
                  orderable: false
              }
          ],
      });
  } );
  
  
  </script>


{% endblock %}